<div class="mt-4">
    <h3 style="text-align: center;">Đăng Nhập</h3>
    <div class="hayday">
        <form method="POST" action="/user/confirm">
        <div class="form-group">
            <label for="username" class="form-label">Tài Khoản:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Mật Khẩu:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Đăng Nhập</button>
    </form>
    </div>
    
</div>